@{
    ViewBag.Title = "Nueva Violación";
}

<form action="/Violacion/Guardar" method="post">
    <div class="card border-success mb-3 mx-auto" style="max-width: 800px;">
        <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Registrar Nueva Violación</h5>
            <button onclick="location.href = '@Url.Action("Violacion", "Violacion")'; return false;" class="btn btn-outline-light btn-sm">Regresar</button>
        </div>

   

        <div class="card-body bg-light">
            <!-- Información del Infractor -->
            <h5 class="text-success">Datos del Vehiculo</h5>
            <div class="row mb-3">
                <div class="col">
                    <label for="vehicle_plate" class="form-label">Placa del Vehiculo</label>
                    <input type="text" id="vehicle_plate" name="VehiculoPlaca" class="form-control" placeholder="Escriba la placa del  vehiculo" autocomplete="off" />
                    <input type="hidden" id="vehicle_id" name="vehicle_id" />
                </div>
            </div>

            <!-- Información del Conductor -->
            <h5 class="text-success">Datos Conductor</h5>
            <div class="row mb-3">
                <div class="col">
                    <label for="conductor" class="form-label">Nombre del Conductor</label>
                    <input type="text" id="conductor" name="ConductorNombre" class="form-control" placeholder="Escriba el nombre del conductor" autocomplete="off" />
                    <input type="hidden" id="driver_id" name="driver_id" />
                </div>
            </div>



            <!-- Información del Oficial -->
            <h5 class="text-success">Datos del Oficial de Transito</h5>
            <div class="row mb-3">
                <div class="col">
                    <label for="officer" class="form-label">Nombre del Oficial</label>
                    <input type="text" id="officer" name="OfficerNombre" class="form-control" placeholder="Escriba el nombre del Oficial" autocomplete="off" />
                    <input type="hidden" id="officer_id" name="officer_id" />
                </div>
            </div>

            <!-- Sanción -->
            <h5 class="text-success">Datos de la Sanción</h5>
            <div class="mb-3">
                <label for="description" class="form-label">Descripción de la Sanción</label>
                <textarea required class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="sanction_type" class="form-label">Tipo de Sanción</label>
                    <input type="text" required class="form-control" id="sanction_type" name="sanction_type" />
                </div>
                <div class="col">
                    <label for="cost" class="form-label">Costo</label>
                    <input type="number" step="0.01" required class="form-control" id="cost" name="cost" />
                </div>
            </div>

            <button type="submit" class="btn btn-success">Guardar Violación</button>
        </div>
    </div>
</form>

@section scripts {
    <script>
       $(function () {
        // Autocomplete Conductor
        $("#conductor").autocomplete({
            source: '@Url.Action("BuscarConductores", "Violacion")',
            minLength: 2,

            select: function (event, ui) {
                console.log("Conductor seleccionado:", ui.item);
                $("#conductor").val(ui.item.label);
                $("#driver_id").val(ui.item.value);
                return false;
            }
        });

        // Autocomplete Vehículo
        $("#vehicle_plate").autocomplete({
            source: '@Url.Action("BuscarVehiculos", "Violacion")',
            minLength: 2,
            select: function (event, ui) {
                console.log("Conductor seleccionado:", ui.item);
                $("#vehicle_plate").val(ui.item.label);
                $("#vehicle_id").val(ui.item.value);
                return false;
            }
        });

        // Autocomplete Infractor
        $("#officer").autocomplete({
            source: '@Url.Action("BuscarOficiales", "Violacion")',
            minLength: 2,
            select: function (event, ui) {
                console.log("Conductor seleccionado:", ui.item);
                $("#officer").val(ui.item.label);
                $("#officer_id").val(ui.item.value);
                return false;
            }
        });
    });
    </script>
}
